<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.segocines"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" >
    </uses-sdk>
    
    <uses-permission
        android:name="android.permission.INTERNET">   
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:name=".ApplicationSegoCines">
        
        <!-- SPLASH ACTIVITY -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        
        <!-- ARTESIETE -->
        <activity
            android:name=".ArteSiete"
            android:label=""
           	android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
            
            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>
        </activity>
        
        
        <!-- LUZ DE CASTILLA -->
        <activity
            android:name=".LuzCastilla"
            android:label=""
           	android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
            
            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>
        </activity>
        
        <!-- PELICULA -->
        <activity
            android:name=".Pelicula"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
            
            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>            
        </activity>
        
        <!-- AJUSTES -->
        <activity
            android:name=".PrefsActivity"
			android:label="@string/action_Settings"
			android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
            
            <!-- Support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" >
            </meta-data>
		</activity>
    </application>

</manifest>
